.counties {
       fill: none;
}

.states {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}

.q0-9 { fill:#ffff00; }
.q1-9 { fill:#ffeb3b; }
.q2-9 { fill:#ffd740; }
.q3-9 { fill:#ffc107; }
.q4-9 { fill:#ffab40; }
.q5-9 { fill:#ff9800; }
.q6-9 { fill:#ff6e40; }
.q7-9 { fill:#ff5722); }
.q8-9 { fill:#f44336; }